page-type_signalement {

.item-md ion-thumbnail img{
    width: 107px;
    height: 70px;
    
}

.item-md {
    padding-left: 0px;
    background: url(../../assets/img/maze2.png);  
}

.item-md ion-thumbnail {
    min-height: 70px;
}




}