<ion-header>
        <ion-navbar>
          <ion-title>Etape 2/3</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>

          <h4>Prenez une photo de l'anomalie:</h4> 
          <div *ngIf="!fileUriImage" >

              <br>
          <br>
          <div align="center"><button ion-button round color="primary" (click)="takePicture()">
            Prendre en photo l'anomalie
          </button></div>
        <br><br>
          <div text-center>
            <!-- Attention à ne pas mettre le lien en relatif ../../assets -->
            <ion-img  width="300" height="300" src="assets/img/takePhoto.png"></ion-img>
          </div>
        
        </div>

      

        <!--<div *ngIf="fileUriImage" id="image-presente" >-->
            <div text-center>
              <ion-img width="{{pictureWidth}}" height="{{pictureHeight}}" src="{{fileUriImage}}"></ion-img>
            </div>
            <br><br>
                 <!-- </div> -->
                </ion-content>

          <ion-footer *ngIf="fileUriImage">
          
            <div align="center"><br>
              <button ion-button round color="light" (click)="takePicture()">Refaire la photo</button> &nbsp;&nbsp;
              <button ion-button round color="primary" (tap)="goSignalementPage()">Envoyer</button>
<br><br>
            </div>  
        
          </ion-footer>
        









         
          
       
      